{% extends "_base.html" %}
{% load static %}

{% block content %}
    <h1>خانه</h1>
    {% if user.is_authenticated %}
        <p>سلام. {{ user.email }}</p>
        <!-- <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit">خروج</button>
        </form> -->
        <p><a href="{% url 'account_logout' %}">EXIT</a></p>
    {% else %}
        <p>شما وارد نشده اید.</p>
        <a href="{% url 'account_login' %}">ورود</a>
        <a href="{% url 'account_signup' %}">ثبت نام</a>
    {% endif %}
{% endblock content %}