{% extends "_base.html" %}
{% load static %}

{% block content %}
صفحه اصلی todo

<!-- table goes here-->
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">عنوان</th>
            <th scope="col">جزییات</th>
            <th scope="col">تاریخ ایجاد</th>
            <th scope="col">وضعیت</th>
        </tr>
    </thead>
    <tbody>
        {% for task in todays_tasks %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.details }}</td>
            <td>{{ task.created }}</td>
            <td>{{ task.status }}</td>
        </tr>
        {% empty %}
        <p>لیست شما خالی می باشد.</p>
        {% endfor %}
    </tbody>
</table>
<!-- table ends here-->
<!-- add task modal starts here -->
<div id="add_task_modal">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        افزودن
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'todo:new' %}">
                        {% csrf_token %}
                        {{ new_task_form.as_p }}
                        <button type="submit" class="btn btn-primary btn-sm">افزودن</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                    <button type="button" class="btn btn-primary">ذخیره</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add task modal ends here -->
<br>
<!-- <button id="refresh_btn" type="button" class="btn btn-primary btn-sm">بروزرسانی</button> -->
{% endblock content %}

{% block jquery %}
<script>
    $(document).ready(function () {
        console.log("JQuery loaded in todo app successfully.");
        $("#myBtn").click(function () {
            console.log("reached click action");
            $("#myModal").modal(); // this is the problem, not showing
        });
    });
</script>
{% endblock jquery %}