{% extends "_base.html" %}
{% load static %}

{% block content %}
    صفحه اصلی todo
    {% for task in todays_tasks %}
        <br>{{ task.title }} - {{ task.details }}
    {% empty %}
        <p>لیست شما خالی می باشد.</p>
    {% endfor %}

    <button id="ajax-button">test ajax</button>
    <br>
    <div id="ajax-response"></div>

    <br>
    <p id="ajax_content">this is ajax stuff:</p>

    <form method="post" action="{% url 'todo:new' %}">
        {% csrf_token %}
        {{ new_task_form.as_p }}
        <button type="submit">افزودن</button>
    </form>
{% endblock content %}

{% block jquery %}
<script>
    $(document).ready(function() {
        $.ajax({
            url: '{% url "todo:get_tasks" %}',
            type: 'GET',
            dataType: 'json',
        }).done(function(response) {
            console.log("GET sent");
            let data = JSON.parse(response);
            console.log(data[0].fields.title);
            $('#ajax_content').text(data[0].fields.title);
        });
        $('#ajax-button').click(function() {
            $.ajax({
                url: '{% url "todo:get_data" %}',
                success: function(data) {
                    $('#ajax-response').text(data.message);
                    console.log("hell yeah.");
                }
            });
        });
    });
</script>
{% endblock jquery %}